body{
    background-color:brown;
    display: flex;
    flex-direction: column ;
    justify-content:  center;
    color: white;
}


body > div{
    display: flex;
    background-color: rebeccapurple;
    justify-content: center;
}

#interaction-buttons{
    display:flex;
    justify-content: space-evenly;
}
#interaction-buttons > button{
   width: 200px;
    height: 100px; 
    margin: 20px;
}


.container{
    background-color: blue;
    border: 10px burlywood solid;
    width: 500px;
    height: 500px;
    margin-top:60px;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}


#player, #opponent{
    display: flex;
    flex-direction: column;
    margin: 10px;  
    border: 3px greenyellow solid;
    font-size: 1.5em;
    justify-content: space-around;
    align-items: center;
}

#player > *, #opponent > *{
    display: flex;
    margin: 10px;    
}